@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body {
    background-image: url("../Assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-color: #becedf;
    background-attachment: fixed;
}

.wrapper {
    background-color: #f1ebe5;
    width: 98%;
    margin: 1rem auto;
    padding: 2rem;
}

.container {
    width: 100%;
    padding: 0 1rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    color: var(--primary);
    margin: 0;
}

.btn-add-patient {
    margin: 0;
}

.btn-add-patient button {
    font-family: "Cormorant Garamond", serif;
    padding: 2px 1rem;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 22px;
}

.btn-add-patient button:hover {
    background-color: #cdcfc0;
    color: var(--primary);
}

.patient-list-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.patient-list-table tr {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-size: 20px;
}

.patient-list-table td {
    padding: 8px;
    border: 1px solid var(--primary);
}

.patient-list-table td:first-child {
    text-align: left;
    border-right: none;
}

.patient-list-table td:last-child {
    text-align: right;
    border-left: none;
}

.patient-list-table a {
    text-decoration: none;
    color: var(--primary);
    padding: 2px 1rem;
    transition: color 0.3s ease;
}

.patient-list-table a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 20px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    text-align: center;
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdcfc0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 10px hsl(0, 0%, 0%, 0.2);
}

.card .card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    margin: 0;
    color: var(--primary);
    font-weight: bold;
}

@media (max-width: 768px) {
    .card {
        width: 150px;
        height: 100px;
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        max-width: 300px;
        height: 90px;
    }
}



@media all and (max-width: 768px) {

    .btn-add-patient button {
        font-size: 18px;
        padding: 2px 0.5rem;
    }

    .patient-list-table tr {
        font-size: 18px;
    }

    .patient-list-table td {
        padding: 6px;
    }

    .patient-list-table a {
        padding: 2px 0.5rem;
    }
}


.signature-button {
    width: 5rem;
    margin-left: 0 !important;
    display: flex;
}

.logout-btn {
    width: 100%;
    padding: 10px;
    background-color: #cdcfc1;
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 100px;
    display: block;
    margin: 15px auto;
}

a {
    text-decoration: none;

}

button:hover {
    box-shadow: 4px 4px 0px var(--primary);
    transform: translate(-2px, -2px);
}