@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/hero-new');

body {
    background-image: url("../Assets/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-color: #becedf;
}

:root {
    --primary: #423f3e;
    --secondary: #dffbff;
    --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    padding: 0 5rem;
    gap: 2rem;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
}

.hospital-name {
    font-size: 24px;
    margin: 0;
}

.mica-container {
    text-align: center;
    margin-top: 10px;
}

.mica-desc {
    font-family: 'Hero New', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    letter-spacing: 5px;

}

.login-container {
  color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--secondary);
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary);
  margin-bottom: 50px;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

input {
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #423f3e;
  background-color: var(--secondary);
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #cdcfc1;
    color: #423f3e;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 100px;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
}

button:hover {
    box-shadow: 4px 4px 0px var(--primary);
    transform: translate(-2px, -2px);
}

.divider {
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 25px;
    color: var(--primary);
    font-weight: bold;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--primary);
}

.divider-hide{
    margin-top: 0px;
    margin-bottom: 55px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.social-btn i {
  font-size: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btn:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary);
}

.footer a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 1024px) {
    .wrapper {
        padding: 0 6rem;
    }
    .header-section {
        padding: 0 3rem;
    }
}
@media (max-width: 900px) {
  .logo {
      width: 160%;
      height: 100%;
  }
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .left-section {
        margin-top: 2rem;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
    .header-section {
        padding: 0 2rem;
    }
    .login-container {
        margin-top: 30px;
    }
    .logo {
        width: 100%;
        height: 100%;
    }

}
@media (max-width: 700px) {
    .wrapper {
        padding: 0 4rem;
    }
    .header-section {
        padding: 0 2.5rem;
    }
    .logo-container {
        gap: 0.9rem;
    }
    .hospital-name {
        font-size: 23px;
    }
    .mica-desc {
        font-size: 16px;
    }
    h1 {
        font-size: 42px;
        margin-bottom: 48px;
    }
    button {
        max-width: 50%;
    }
    .divider {
        margin-top: 48px;
        margin-bottom: 22px;
    }
    .divider-hide {
        margin-top: 0px;
        margin-bottom: 48px;
    }
    .social-btn {
        width: 50px;
        height: 50px;
    }
    .social-btn i {
        font-size: 40px;
    }
    .footer {
        font-size: 16px;
    }
    .logo {
        width: 120%;
        height: 100%;
    }

}
@media (max-width: 600px) {
    .wrapper {
        padding: 0 3rem;
    }
    .header-section {
        padding: 0 2rem;
    }
    .logo-container {
        gap: 0.85rem;
    }
    .hospital-name {
        font-size: 24px;
    }
    .mica-desc {
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 45px;
    }
    button {
        max-width: 50%;
    }
    .divider {
        margin-top: 45px;
        margin-bottom: 25px;
    }
    .divider-hide {
        margin-top: 0px;
        margin-bottom: 45px;
    }
    .social-btn {
        width: 48px;
        height: 48px;
    }
    .social-btn i {
        font-size: 38px;
    }
    .footer {
        font-size: 16px;
    }

}

@media (max-width: 480px) {
    .wrapper {
        padding: 0 2rem;
    }
    .header-section {
        padding: 0 1.5rem;
    }
    .logo-container {
        gap: 0.75rem;
    }
    .hospital-name {
        font-size: 22px;
    }
    .mica-desc {
        font-size: 15px;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 40px;
    }
    button {
        max-width: 50%;
    }
    .divider {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .divider-hide {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .social-btn {
        width: 45px;
        height: 45px;
    }
    .social-btn i {
        font-size: 35px;
    }
    .footer {
        font-size: 15px;
    }

}

@media (max-width: 320px) {
    .login-container {
        width: auto;
    }
    .header-section {
        padding: 0 1rem;
    }
    .wrapper {
        padding: 0 1rem;
    }
    .logo-container {
        gap: 0.5rem;
    }
    .hospital-name {
        font-size: 20px;
    }
    .mica-desc {
        font-size: 14px;
    }
    h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    button {
        max-width: 50%;
    }
    .divider {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .divider-hide {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .social-btn {
        width: 40px;
        height: 40px;
    }
    .social-btn i {
        font-size: 30px;
    }
    .footer {
        font-size: 14px;
    }

}


