@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/hero-new');
@font-face {
    font-family: 'reborn'; /* Choose a name for your font family */
    src: url('../fonts/reborn/Reborn.otf') format('opentype'); /* Adjust the path as needed */
    font-weight: normal; /* Or specify a weight if the font has multiple */
    font-style: normal; /* Or specify a style if the font has multiple */
}


:root {
    --primary: #423f3e;
    --secondary: #f0ebe5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdcfc1;
    margin: 0;
    padding: 0 1rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f1ebe5;
    margin: 1rem;
}

.nav-logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: relative;
}

.nav-item {
    color: var(--primary);
    text-decoration: none;
    font-family: "Hero New", sans-serif;
    padding: 3px 10px;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid var(--primary);
    text-align: center;
    width: 120px;
    font-weight: 500;
}

.nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -0.75rem;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 2px;
    background-color: var(--primary);
}

.nav-item:hover {
    background-color: #d8cfc5;
    color: var(--primary);
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px #000000;
    border: 1px solid var(--primary);
}

.hamburger {
    display: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    background-color: var(--primary);
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .hamburger.active {
        transform: rotate(360deg);
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #ff3333;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #ff3333;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 120px;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary);
        width: 100%;
        text-align: center;
        transition: 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
        padding: 1rem 0;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-item {
        width: 60%;
        margin: 0.5rem 0;
        border: 1px solid var(--primary);
    }

    .nav-item:not(:last-child)::after {
        display: none;
    }
}

.notification-icon {
    width: 30px;
    height: 30px;
    content: url('../Assets/notification.svg');
}

.nav-item:hover .notification-icon {
    content: url('../Assets/notification-white.svg');
    background-color: var(--primary);
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--primary);
    transform: translate(-2px, -2px);
    width: 35px;
    height: 35px;
}

.nav-item:last-child {
    border: none;
    padding: 0.5rem;
    width: 48px;
    height: 40px;
}
.nav-item:last-child:hover {
    box-shadow: none;
    transform: none;
    background-color: transparent;
}

.scrollable-container {
  height: 200px; /* Set a fixed height to create overflow */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}